body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(275, 100%, 97%);
}

main {
    background-image: url('assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}


.card {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    padding: 1.25rem;
}

.title {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    margin-left: 10px;
    gap: 15px;
}

h1 {
    color: hsl(292, 42%, 14%);
    font-size: 50px;
}


h3 {
    color: hsl(292, 42%, 14%);
    flex: 1;
    margin: 0;
    font-size: 16px;
}

p {
    color: hsl(292, 16%, 49%);
    font-size: 16px;
    margin: 0.5rem 0;
}


.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: white;
    margin-left: 10px;
    width: 100%;
    text-align: left;
}

.faq-answer {
    display: none;
    margin-left: 15px;
}

hr {
    border: 1px solid hsl(275, 100%, 97%);
}

@media (max-width: 375px) {
    main {
        background-image: url('assets/images/background-pattern-mobile.svg');
        background-size: cover;
        background-position: top center;
        background-size: 100%;
    }

    .card {
        margin: 0 6%;
    }

    h1 {
        color: hsl(292, 42%, 14%);
        font-size: 35px;
    }
    .title img {
        width: 30px;
    }
}
